@import "../../assets/styles/palette.scss";
@import "../../assets/styles/mixins.scss";

.OrderSwitch {
	display: inline-block;
	border: 1px solid $style-black;
	border-radius: 100px;
	height: 45px;

	&_List {
		@include displayFlex(unset, center);
		height: 100%;
		padding: 0 5px;
	}

	&_Button {
		font-weight: 700;
		color: $text-black;
		background-color: transparent;
		border: none;
		border-radius: 100px;
		min-width: 65px;
		padding: 10px 15px;
		cursor: pointer;
	}

	// Active class
	&_Item_isActive {
		.OrderSwitch_Button {
			color: $grey-white;
			background-color: $orange;
		}
	}
}
